<!DOCTYPE html>
<html>

<head>
  <title>402</title>
  <meta charset="utf-8" />
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  <!-- Nav Bar-->
  <div class="nav">
    <img class="logo" src="/images/albyhead.png"></img>
    <h1>Alby Testing Playground</h1>
    <button class="connect" onclick="enable();">Enable</button>
  </div>
  <!-- Main Playground-->
  <div class="playground">
    <div class="interaction">
      <div class="container">
        <div class="buttons">
          <button id="createinvoice" onclick="openInvoiceModal();">Create Invoice</button>
          <button class="pay" onclick="openPaymentModal();">Pay an Invoice</button>
        </div>
        <pre class="codedisplay">
          <code>
            WebLN.requestProvider().then(function(webln) {
              webln.getInfo().then(function(info) {
              console.log(info);
            });
                
            webln.sendPayment('<%% invoice.payment_request %>');
          </code>
        </pre>
      </div>
      <div class="webln-sites">
        <h3>Other WebLN Sites</h3>
        <ul>
          <li><a href="https://testnet.yalls.org/">Yalls testnet</a></li>
          <li><a href="https://yalls.org/">Yalls mainnet</a></li>
          <li><a href="https://kriptode.com/satoshisworld">Satoshis World</a></li>
          <li><a href="https://kriptode.com/lnhunt/index.html">LN Hunt (same host as Satoshis World)</a></li>
          <li><a href="https://lightning-roulette.com/">Lightning Roulette (go to the menue and "Deposit using webLN")</a></li>
        </ul>
      </div>
    </div>

    <!-- Right side console display -->
    <div class="console">
      <div class="display">
        <ul id="getinfo"></ul>
      </div>
      <button id="clear-console" onclick="clearConsole()">Clear Console</button>
    </div>

    <!-- Modals -->
    <div id="payment-modal">
      <div class="payment-modal-content">
        <div class="payment-modal-header">
          <h2>Choose an Invoice to Pay</h2>
          <span class="payment-close">&times;</span>
        </div>
        <div class="payment-modal-body"></div>
      </div>
    </div>

    <div id="invoice-modal">
      <div class="invoice-modal-content">
        <div class="invoice-modal-header">
          <h2>New Invoice</h2>
          <span class="invoice-close">&times;</span>
        </div>
        <div class="invoice-modal-body">
          <form action="/invoice" method="POST" class="amount">
            <label></label>
            <label for="name">Name</label>
            <input
              class="modal-input" 
              type="text" 
              name="name">
            </input>
            <label for="amount">Amount</label>
            <input
              class="modal-input" 
              type="number" 
              pattern=" 0+\.[0-9]*[1-9][0-9]*$" 
              name="amount" 
              onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            </input>
            <input class="submit-input" type="submit" value="Submit"></input>
          </form>
        </div>
    </div>
  </div>

  <script src="https://unpkg.com/webln@0.2.2/dist/webln.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    function clearConsole() {
      axios.delete('/console')
        .then((res) => {
          showResponses(res.data)
        })
        .catch((e) => {
          console.log("err delete: ", e);
        })
    }

    function postConsole(response) {
      axios.post('/console', { consoleResponse: response })
        .then((res) => {
          showResponses(res.data);
        })
        .catch((e) => {
          console.log("err post: ", e);
        })
    }

    function showResponses(responses) {
      document.getElementById('getinfo').innerHTML = ''
      for(let i = responses.length - 1; i >= 0; i--) {
        let newResponse = document.createElement("LI");
        let pre = document.createElement("PRE");
        pre.innerHTML = JSON.stringify(responses[i], null, 2);
        newResponse.appendChild(pre);
        document.getElementById('getinfo').appendChild(newResponse);
      }
    }

    function showInvoices(invoices) {
      let invoiceList = document.createElement("UL");
      invoiceList.classList.add('invoice-list');
      invoices.forEach(invoice => {
        let listItem = document.createElement("LI");
        listItem.classList.add('invoice-list-item');
        listItem.innerHTML = `
        <span>
          Name: ${invoice.name}
        </span>
        <span>
          Amount: ${invoice.amount}
        </span>
        `
        listItem.addEventListener('click', () => pay(invoice.id, invoice.data.payment_request))
        invoiceList.appendChild(listItem);
      });
      document.getElementsByClassName('payment-modal-body')[0].innerHTML = '';
      document.getElementsByClassName('payment-modal-body')[0].appendChild(invoiceList);
    }

    function enable() {
      WebLN.requestProvider()
        .then(function (webln) {
          webln.getInfo().then(function (info) {
            postConsole(info)
          });
        })
        .catch(function (e) {
          postConsole(e)
          alert("Failed: " + e.message);
          console.log('error enable:', e);
        });
    }

    function pay(id, payment_request) {
      WebLN.requestProvider()
        .then(function (webln) {
          return webln.sendPayment(payment_request)
            .then((r) => {
              postConsole(r)
            })
            .then(() => {
              axios.delete(`/invoice/${id}`)
                .then((res) => {
                  showInvoices(res.data);
                })
                .catch((e) => {
                  console.log("err delete: ", e);
                })
            })
            .catch((e) => {
              postConsole(e)
              alert("Failed: " + e.message);
              console.log('err pay:', e);
            });
        })
        .catch((e) => {
          alert("Webln error, check console");
          postConsole(e)
          console.log('err, provider', e);
        });
    }

    window.addEventListener('DOMContentLoaded', (event) => {
      let invoiceArrayString = '<%- JSON.stringify(invoices) %>';
      let invoiceArray = JSON.parse(invoiceArrayString);
      showInvoices(invoiceArray);

      let responsesArrayString = '<%- JSON.stringify(consoleResponses) %>';
      let responsesArray = JSON.parse(responsesArrayString);
      showResponses(responsesArray)
      window.setTimeout(() => {

        WebLN.requestProvider().then(webln => {
          console.log('-- webln found');
        })
          .catch((e) => { console.log('-- requesting webln failed', e) });

      }, 300);
    });

    // Payment Modal

    let paymentModal = document.getElementById("payment-modal");

    let paymentClose = document.getElementsByClassName("payment-close")[0];

    // When the user clicks on the button, open the modal
    openPaymentModal = function() {
      paymentModal.style.display = "block";
    } 

    // When the user clicks on <span> (x), close the modal
    paymentClose.onclick = function() {
        paymentModal.style.display = "none";
    }

    // Invoice Modal functionality

    let invoiceModal = document.getElementById("invoice-modal");

    let invoiceClose = document.getElementsByClassName("invoice-close")[0];

    // When the user clicks on the button, open the modal
    openInvoiceModal = function() {
      invoiceModal.style.display = "block";
    } 

    // When the user clicks on <span> (x), close the modal
    invoiceClose.onclick = function() {
      invoiceModal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == invoiceModal) {
        invoiceModal.style.display = "none";
      } else if (event.target == paymentModal) {
        paymentModal.style.display = "none";
      }
    }


  </script>

</body>

</html>