<!DOCTYPE html>
<html>

<head>
  <title>402</title>
  <meta charset="utf-8" />
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  <!-- Nav Bar-->
  <div class="nav">
    <img class="logo" src="/images/albyhead.png"></img>
    <h1>Alby Testing Playground</h1>
    <button class="connect">Connect</button>
  </div>
  <!-- Main Playground-->

  <div class="playground">
    <div class="interaction">
      <div class="container">
        <div class="buttons">
          <button onclick="enable();">Connect</button>
          <button onclick="pay();">Pay</button>
        </div>
        <pre class="codedisplay">
          <code>
            WebLN.requestProvider().then(function(webln) {
              webln.getInfo().then(function(info) {
              console.log(info);
            });
                
            webln.sendPayment('<%% invoice.payment_request %>');
          </code>
        </pre>
        
      </div>
      <div class="webln-sites">
        <h3>Other WebLN Sites</h3>
        <ul>
          <li><a href="https://testnet.yalls.org/">Yalls testnet</a></li>
          <li><a href="https://yalls.org/">Yalls mainnet</a></li>
          <li><a href="https://kriptode.com/satoshisworld">Satoshis World</a></li>
          <li><a href="https://kriptode.com/lnhunt/index.html">LN Hunt (same host as Satoshis World)</a></li>
          <li><a href="https://lightning-roulette.com/">Lightning Roulette (go to the menue and "Deposit using webLN")</a></li>
        </ul>
      </div>
    </div>

    <div class="console">
      <div class="display">
        <div id="getinfo"></div>
        <div id="content"></div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/webln@0.2.2/dist/webln.min.js"></script>
  <script>
    function enable() {
      WebLN.requestProvider().then(function (webln) {
        webln.getInfo().then(function (info) {
          document.getElementById('getinfo').innerHTML = JSON.stringify(info);
        });
      })
        .catch(function (e) {
          alert("Failed: " + e.message);
          console.log('error enable:', e);
        });
    }
    function pay() {
      WebLN.requestProvider()
        .then(function (webln) {
          return webln.sendPayment('<%= invoice.payment_request %>')
            .then(function (r) {
              document.getElementById('content').innerHTML = "YAY, thanks!";
              console.log('done', r);
            })
            .catch(function (e) {
              alert("Failed: " + e.message);
              console.log('err pay:', e);
            });
        })
        .catch(function (e) {
          alert("Webln error, check console");
          console.log('err, provider', e);
        });
    }

    window.addEventListener('DOMContentLoaded', function (event) {
      window.setTimeout(function () {

        WebLN.requestProvider().then(webln => {
          console.log('-- webln found');
        })
          .catch(function (e) { console.log('-- requesting webln failed', e) });

      }, 300);
    });
  </script>

</body>

</html>