* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 90vh;
    position: relative;
}

/* Nav bar */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding-left: 2em;
    padding-right: 2em;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    border-bottom: solid;
    border-bottom-width: thin;
    background-color: rgb(27, 27, 27);
    color: white;
}

.nav>img {
    height: 100%;
}

.connect {
    background-color: orange;
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
}


.connect:hover {
    background-color: rgb(255, 182, 47);
    cursor: pointer;
}

/* Playground */
.playground {
    display: flex;
    margin-top: 10vh;
    height: 100%;
}

.interaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px 40px 25px 40px;
    border-bottom: solid;
    border-bottom-width: thin;
}

.webln-sites {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 25px 10px 25px;
}

.webln-sites>h3 {
    text-align: center;
}

textarea {
    height: 40vh;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.pay {
    height: 50px;
    width: 50%;
    background-color: orange;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.pay:hover {
    background-color: rgb(255, 182, 47);
    cursor: pointer;
}

#createinvoice {
    height: 50px;
    width: 50%;
    background-color: orange;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

#createinvoice:hover {
    background-color: rgb(255, 182, 47);
    cursor: pointer;
}

.codedisplay {
    display: flex;
    justify-content: start;
    border: solid;
    border-width: thin;
    padding: 10px
}

.codedisplay>code {
    display: flex;
    margin-left: -90px;
}

.console {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-left: solid;
    border-width: thin;
    padding: 25px
}

#clear-console{
    height: 50px;
    margin-top: 10px;
    background-color: orange;
    color: white;
    font-weight: bold;
    border: solid;
    border-width: thin;
    border-radius: 5px;
}

#clear-console:hover{
    cursor: pointer;
    background-color: rgb(255, 182, 47);
}

.display>ul {
    list-style-type: none;
}

.display>ul>li {
    border-bottom: solid;
    border-bottom-width: thin;
    border-color: grey;
    padding-bottom: 20px;
    margin-top: 20px;
}

.display {
    width: 100%;
    height: 80vh;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    background-color: rgba(192, 225, 238, 0.425);
    overflow: scroll;
}

/* Payment Modal */

#payment-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.payment-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.payment-modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.payment-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
}

.invoice-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.invoice-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border: solid;
    border-width: thin;
    border-radius: 5px;
    border-color: black;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    background-color: orange;
}

.invoice-list-item:hover{
    cursor: pointer;
    background-color: rgb(255, 182, 47);
}

.payment-close:hover,
.payment-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Invoice Modal */

#invoice-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.invoice-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.invoice-modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.amount{
    display: flex;
    flex-direction: column;
}

.amount > label {
    margin-bottom: 5px;
}

.modal-input {
    height: 30px;
    padding-left: 5px;
    margin-bottom: 25px;
    width: 50%;
}

.submit-input {
    height: 40px;
    width: 15%;
    background-color: orange;
    color: white;
    border-radius: 5px;
}

.submit-input:hover {
    cursor: pointer;
    background-color: rgb(255, 182, 47);
}

/* Chrome, Safari, Edge, Opera */
.modal-input::-webkit-outer-spin-button,
.modal-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.modal-input[type=number] {
    -moz-appearance: textfield;
}

.invoice-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
}

.invoice-close:hover,
.invoice-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}